{% extends "article_base.html" %}
{% load staticfiles %}
{% block css%}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/extra.css" %}" rel="stylesheet">
    <style>
	    body {
	        padding-top: 0px;
	        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	    }
    </style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "css/article.css" %}">

<div id="loading" class="loading"></div>
<!-- Header -->
    <header id="page-top">
        <div class="container">
            <div class="intro-text">
                <img class="img-responsive" src="{% static article.image %}">
                <div class="intro-heading"><h1>{{ article.title }}</h1></div>
                <div class="intro-lead-in"><h3>{{ article.subtitle }}</h3></div>
            </div>

            <div class="row text-center">
            	<div class="col-md-3 column"></div>
                <div class="col-md-6 text-left column">
                    <div id="intro-buttons">
                    	<p>{{ article.text }}</p>
                	</div>
                </div>
                <div class="col-md-3 column"></div>
            </div>
        </div>
    </header>

     <!--Default Javascript Files-->
    <!-- jQuery Version 1.11.1 -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/basics.js" %}"></script>
    <script src="{% static "js/article.js" %}"></script>
{% endblock %}